@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --fg1: black;
  --bg1: white;
  --font: bold 5em "Made Tommy Soft";
}

/* @media (prefers-color-scheme: light) {
  :root {
    --foreground-rgb: #F9F5EB;
    --background-rgb: #EA5455;
  }
} */

body {
  color: var(--fg1);
  background: var(--bg1);
  font : var(--font);
}
